<!DOCTYPE html>
<html>
<head>
	<%- include("../partials/head") %> 
</head>
<body>
<section>
	<h3 class="h3"></h3>
	<div class="login">
		<h1>Login</h1>
			<input type="text" name="username" placeholder="Username" id="username">
			<input type="password" name="password" placeholder="Password" id="pass">
			<input type="submit" name="login" id="login" value="login"> 
	</div>
</section>


<%- include("../partials/scripts") %> 
</body>
</html>>
